@import "~bootstrap/scss/functions";  // 匯入 functions
@import "@/assets/stylesheets/helpers/bootstrap_customized/_variables.scss";  // 自訂 bootstrap 變數
@import "@/assets/stylesheets/helpers/bootstrap_customized/_utilities.scss"; // 自訂 bootstrap 通用類別
@import "~bootstrap/scss/bootstrap"; // 將所有 bootstrap 載出來


@import '@/assets/stylesheets/helpers/font.scss';
@import "@/assets/stylesheets/helpers/_base.scss";
@import "@/assets/stylesheets/helpers/_utils.scss";


body {
  transition: color .5s, background-color .5s;
}
// 白天樣式
[data-theme="light"] {
  color: #000;
  transition: color .5s, background-color .5s;
  
  &.btn:hover {
    color: #000;
  }
  &.btn-hover:hover {
    color: #fff;
    background-color: #000;
  }
  .area {
    background-color: #d5d5d5;
  }
}
// 黑暗樣式
[data-theme="dark"] {
  color: #fff;
  transition: color .5s, background-color .5s;
  
  &.btn:hover {
    color: #fff;
  }
  &.btn-hover:hover {
    color: #000;
    background-color: #fff;
  }
  &.modal-content {
    background-color: #000000;
    border: 3px solid rgb(255 255 255 / 20%);
  }
  &.modal-header {
    border-bottom: 2px solid rgb(255 255 255 / 20%);
  }
  &.modal-footer {
    border-top: 2px solid rgb(255 255 255 / 20%);
  }
  .area {
    background-color: #3c3c3c;
  }
}
// 改變滑鼠圖標
/* Start https://www.cursors-4u.com */ 
html {
    cursor: url(https://cur.cursors-4u.net/smilies/smi-3/smi211.cur), auto !important;
  } /* End https://www.cursors-4u.com */